{% extends "cms/base.html" %}
{% block content %}
<form method="POST">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required autocomplete="username">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required autocomplete="current-password">
    </div>
    <button type="submit" class="btn">Login</button>
</form>
{% endblock %}
